<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <instaframe>
            <general>
                <locale>en_US</locale>
            </general>
        </instaframe>
        <subscriptionchecker>
            <ignore>
                <instaframe/>
            </ignore>
        </subscriptionchecker>
    </default>
</config>
